<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/table.css">
</head>
<body>
<%- include('../includes/navigation.ejs') %>
  <main class="container">
    <div><a class="btn primary" href="/admin/edit-product/0?edit=false">New Product</a></div>
    <table class="product-table">
      <tr>
        <th>Title</th><th>Image Url</th><th>Price</th><th>Description</th><th>Edit</th>
      </tr>
      <tr>
        <% for(let pro of prods) {%>
          <td>
              <img src="<%=pro.imageUrl%>" />
            </td>
          <td class="product-table__title">
            <a href="/admin/edit-product/<%=pro.id%>?edit=true"><%=pro.title%></a>
            </td>
            
            <td class="product-table__price">
              <%=pro.price%>            
            </td>
            <td class="product-table__description">
              <%= pro.description %>
            </td>
            <td class="product-button">  
              <a class="btn delete" href="/admin/delete-product">x</a>
          </td>
          </tr>
        <% } %>
    </table>
    
  </main>
<%- include('../includes/end.ejs') %>